
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f5f5f5;
}

.siteHeader {
    padding: 0;
}

.btn-outline-light {
    border: none;
}

.card-bg {
    background-color: rgb(63, 64, 65);
}

footer {
    font-size: 0.9rem;
}
