{% extends "layout.html" %}

{% block title %}Completed Tasks{% endblock %}

{% block content %}
<header class="siteHeader">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container-fluid">

            <!-- Brand -->
            <a class="navbar-brand text-decoration-none px-2" href="/">
                <i class="bi bi-check-circle-fill p-1" aria-hidden="true"></i>
                Success Manager
            </a>
            <!--Toggle button-->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Right side buttons -->
                <div class="ms-md-auto">
                    <!--log out button-->
                    <div
                        class="d-flex flex-column flex-md-row justify-content-center justify-content-md-end align-items-center gap-2">

                        <!--Home link-->
                        <a class="btn btn-outline-light w-100 w-lg-auto text-decoration-none"
                            href="{{ url_for('main.home') }}">Home</a>

                        <!--ADD TASKS BUTTON-->
                        <a class="btn btn-outline-light w-100 w-lg-auto text-decoration-none"
                            href="{{ url_for('main.add_task') }}">Add tasks</a>

                        <!--Completed tasks button-->
                        <a class="btn btn-outline-light w-100 w-lg-auto px-4 text-decoration-none"
                            href="{{ url_for('main.completed_tasks') }}">Completed Tasks</a>

                        <!--log out button-->
                        <a class="btn btn-outline-light w-100 w-lg-auto px-4 text-decoration-none"
                            href="{{ url_for('auth.logout') }}">Log
                            out</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- ================= Main ================= -->

<div class="container">
    <div class="row">
        <div class="col my-5">
            <div>
                <h2 class="text-light">Completed Tasks</h2>

                <!--Add task butto, Cros Icon-->
                <a class="btn btn-outline-light text-decoration-none float-end" href="{{ url_for('main.add_task') }}">
                    <i class="bi bi-plus-square"></i>
                </a>

            </div>
            <ul class="list-group my-5">
                {% for task in completed_tasks %}
                <li class="list-group-item"
                    style="color: {{task_text_color(task.color)}}; background-color: {{task.color}};">
                    {{task.task_text}}

                    <!--complete button-->
                    <div class="btn-group float-end">
                      <form action="{{ url_for('main.completed_tasks_undo', task_id=task.id) }}" method="post"
                            style="display:inline;">
                            <button type="submit" style="background-color: transparent;
                                 color: {{ task_text_color(task.color) }};
                                 margin: 1px;
                                 border: none;">
                                <i class="bi bi-check2-square"></i>
                            </button>
                        </form>
                        <!--Edit button-->
                        <a href="/edit_task/{{task.id}}" type="button" style="background-color: transparent; 
                            color: {{task_text_color(task.color)}};
                            margin: 1px; 
                            border-color: transparent;">
                            <i class="bi bi-pencil-square"></i>
                        </a>

                        <!--Delete button-->
                        <form action="{{ url_for('main.delete_task', task_id=task.id) }}" method="post"
                            style="display:inline;">
                            <button type="submit" style="background-color: transparent;
                                 color: {{ task_text_color(task.color) }};
                                 margin: 1px;
                                 border: none;">
                                <i class="bi bi-trash"></i>
                            </button>
                        </form>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}