{% extends "base_app.html" %}

{% block title %}Home{% endblock %}
{% block content %}

<!-- ================= Main ================= -->
<div class="container">
    <div class="row">
        <div class="col my-5">
            <h2 class="text-light">Edit Tasks</h2>
            <!-- form -->
            <form action="/edit_task/{{task.id}}" method="post">

                <!-- Task name input box -->
                <div class="form-group mb-4 text-start text-light">
                    <label for="task" class="form-label">Edit Task Name:</label>
                    <input type="text" name="task_txt" id="task_txt" value="{{task.task_text}}"
                        class="form-control rounded-3 border-0" required>
                </div>
                
                <!-- Is daily check box-->
                <div class="form-group mb-4 text-start">
                    <label for="is_daily" class="form-chek-lable text-light">Daily task:</label>
                    <input type="checkbox" class="form-check-input" id="is_daily" name="is_daily" {% if task.is_daily %}checked{% endif %}>
                </div>

                <!-- Color select field -->
                <div class="form-group mb-4 text-start">
                    <label for="tsk_color" class="text-light">selct a coror :</label>
                    <input type="color" id="tsk_color" name="tsk_color" value="{{task.color}}">
                </div>

                <!-- submit button -->
                <div class="d-grid mb-4">
                    <button class="btn btn-primary rounded-3" type="submit">edit Task</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}